<div class="container mt-5">
    <div class="row">
        <h1>Tienda Musical Online</h1>
        <br />
        <p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, illo quae molestiae aliquam facilis doloremque quod consequatur delectus officia unde excepturi possimus dignissimos enim omnis et. Expedita praesentium vel odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam cum temporibus hic quam, omnis rerum nobis, voluptate voluptatem repellendus ab ea consequuntur et molestias iusto vero nulla nemo nesciunt illum?        </p>
    </div>
</div>
