<section class="pt-5">
  <div class="container mt-5">
    <div class="row mb-4 mt-5">
      <div class="col-xs-12 col-sm-8 col-md-10">
        <h2>ABM</h2>
      </div>
      <div class=" col-xs-12 col-sm-4 col-md-2">
        <button type="button" class="btn btn-primary float-right ml-3 btn-dark" data-toggle="modal"
          data-target="#modalInstrumento">+ Agregar</button>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Precio</th>
              <th scope="col">Costo Envio</th>
              <th scope="col">Cant. vendida</th>
              <th scope="col">Acciones</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let instrumento of instrumentos | paginate: { itemsPerPage: 5, currentPage: paginaActual }">
              <th scope="row">{{instrumento.id}}</th>
              <td>{{instrumento.instrumento}}</td>
              <td>
                {{(instrumento.descripcion.length > 25) ? (instrumento.descripcion| slice:0:80)+'...' : (instrumento.descripcion)}}
              </td>
              <td>{{instrumento.marca}}</td>
              <td>{{instrumento.modelo}}</td>
              <td>{{instrumento.precio | currency}}</td>
              <td>{{instrumento.costoEnvio}}</td>
              <td>{{instrumento.cantidadVendida}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="onPreUpdate(instrumento)" data-toggle="modal"
                  data-target="#modalInstrumento">Actualizar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="delete(instrumento)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
      </div>
    </div>
  </div>
</section>

<app-modal [instrumentos]="instrumentos" [instrumentoActual]="instrumentoActual"></app-modal>
